@font-face {
    font-family: 'Alegreya Sans SC';
    font-display: swap;
    src: local('Alegreya Sans SC');
    src: url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.eot'); /* IE9 Compat Modes */
    src: url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.woff2') format('woff2'), /* Modern Browsers */
        url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.woff') format('woff'), /* Modern Browsers */
        url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Do Hyeon Regular';
    font-display: swap;
    src: local("Do Hyeon Regular");
    src: url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.eot'); /* IE9 Compat Modes */
    src: url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.woff2') format('woff2'), /* Modern Browsers */
        url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.woff') format('woff'), /* Modern Browsers */
        url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'East Sea Dokdo Regular';
    font-display: swap;
    src: local('East Sea Dokdo Regular');
    src: url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.eot'); /* IE9 Compat Modes */
    src: url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.woff2') format('woff2'), /* Modern Browsers */
        url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.woff') format('woff'), /* Modern Browsers */
        url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HanS Calli';
    font-display: swap;
    src: local('HanS Calli');
    src: url('../libraries/fonts/HanS_Calli/HanSCalli.eot'); /* IE9 Compat Modes */
    src: url('../libraries/fonts/HanS_Calli/HanSCalli.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../libraries/fonts/HanS_Calli/HanSCalli.woff2') format('woff2'), /* Modern Browsers */
        url('../libraries/fonts/HanS_Calli/HanSCalli.woff') format('woff'), /* Modern Browsers */
        url('../libraries/fonts/HanS_Calli/HanSCalli.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../libraries/fonts/HanS_Calli/HanSCalli.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
