html, body {
    margin: 0;
    height: 100%;
}

body {
    background: url(../images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
}

.menu-container {
    text-align: right;
    z-index: 2;
}

.hamburger-icon {
    display: inline-block;
    margin-top: 1em;
    margin-right: 1em;
}

.bar1, .bar2, .bar3 {
  width: 22px;
  height: 2px;
  background-color: #FFF;
  margin: 4px 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
  background-color: #000;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -4px);
  transform: rotate(45deg) translate(-5px, -4px);
  background-color: #000;
}

nav {
    z-index: 0;
    right: 0;
    position: fixed;
    flex: 0 1 auto;
    height: 100%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    width: 0px;
    background-color: #000;
    padding-top: 5em;
    overflow-x: hidden;
}

nav.change {
    width: 100%;
    background-color: #FFF;
}

nav a {
    color: #000;
    font-family: "Alegreya Sans SC", 'Arial', sans-serif;
    font-size: 17pt;
    font-weight: bold;
    border-bottom: 0.25rem solid transparent;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 2em auto;
}

nav a:hover {
    color: #4f4f4f;
}

#introduction-wrapper {
    text-align: center;
    flex: 1 1 auto;
    display: flex;
}

#introduction {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#introduction div {
    display: inline-block;
    margin: auto;
}

#welcome-message {
    padding-bottom: 1em;
}

#welcome-message div {
    display: block;
    color: #FFF;
}

#main-message {
    font-family: "East Sea Dokdo Regular", "Arial", sans-serif;
    font-size: 25pt;
}

#main-message span {
    font-family: "HanS Calli", "Arial", sans-serif;
}

#description {
    font-family: "Do Hyeon Regular", "Arial", sans-serif;
    font-size: 16pt;
    text-align: center;
    word-spacing: normal;
}

#logo img {
    max-height: 180px;
    padding-left: 0;
}

.icons {
    text-align: center;
    padding: 1em 0;
    font-size: 20pt;
}

#space {
    display: inline-block;
    width: 0.1em
}

.icons a {
    color: #FFF;
    text-decoration: none;
}

.icons a:hover {
    color: #A9A9A9;
}

@media (min-width: 350px) {
    #main-message {font-size:30pt}
    #description {font-size:20pt}
    .icons {
        padding-top: 0;
        font-size: 23pt;
    }
}

@media (min-width: 500px) {
    #welcome-message {padding-bottom: 1em}
    #main-message {
        font-size:40pt;
        max-height: 85px;
    }
    #description {word-spacing: 10px}
    #description span {display: none}
    #logo img {max-height: 200px}
    .icons {font-size: 25pt}
}

@media (min-width: 600px) {
    #welcome-message {padding-bottom: 2em}
    #main-message {
        font-size: 45pt;
        max-height: 95px;
    }
    #description {
        font-size: 22pt;
        word-spacing: 15px;
    }
    #logo img {max-height: 220px}
    .icons {font-size: 30pt}
}

@media (min-width: 768px) {
    .menu-container {display: none}
    nav {
        display: block;
        height: auto;
        width: auto;
        position: relative;
        margin-top: 2.5em;
        margin-right:2em;
        text-align: right;
        right: initial;
        background-color: transparent;
        padding: 0;
        overflow-x: initial;
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -ms-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
    }
    nav a {
        margin: auto;
        margin-left:15px;
        display: inline;
        color: #FFF;
        font-size: 11pt;
    }
    nav a:hover {
        color: #FFF;
        border-bottom-color: #FFF
    }
    #introduction {flex-direction: row}
    #main-message {
        font-size: 40pt;
        max-height: 80px;
    }
    #description {
        font-size: 20pt;
        word-spacing: 10px;
    }
    #logo img {
        max-height: 210px;
        padding-left: 15%;
    }
    #space {width: 25px}
}

@media (min-width: 1024px) {
    nav a {
        margin-left: 20px;
        font-size: 15pt;
    }
    #introduction {margin-bottom: 6em}
    #main-message {
        font-size: 55pt;
        max-height: 115px;
    }
    #description {
        font-size: 25pt;
        word-spacing: 15px;
    }
    #logo img {
        max-height: 290px;
        padding-left: 10%;
    }
}

@media (min-width: 1200px) {
    nav a {
        margin-left: 30px;
        font-size: 17pt;
    }
    #main-message {
        font-size: 65pt;
        max-height: 137px;
    }
    #description {font-size: 25pt}
    #logo img {
        max-height: 300px;
        padding-left: 5em;
    }
}

@media (min-width: 1400px) {
    nav {margin-right:3em}
    nav a {
        margin-left: 30px;
        font-size: 17pt;
    }
    #main-message {
        font-size: 80pt;
        max-height: 165px;
    }
    #description {
        font-size: 36pt;
        word-spacing: 30px;
    }
    #logo img {
        max-height: 335px;
        padding-left: 5em;
    }
}
