@font-face {
    font-family: 'Alegreya Sans SC';
    font-display: swap;
    src: url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.eot'); /* IE9 Compat Modes */
    src: local('Alegreya Sans SC'), local('Alegreya Sans SC Regular'),
        url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.woff2') format('woff2'), /* Modern Browsers */
        url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.woff') format('woff'), /* Modern Browsers */
        url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../libraries/fonts/AlegreyaSansSC/AlegreyaSansSC.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Do Hyeon Regular';
    font-display: swap;
    src: url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.eot'); /* IE9 Compat Modes */
    src: local("Do Hyeon"), local("Do Hyeon Regular"),
        url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.woff2') format('woff2'), /* Modern Browsers */
        url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.woff') format('woff'), /* Modern Browsers */
        url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../libraries/fonts/Do_Hyeon/DoHyeon-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'East Sea Dokdo Regular';
    font-display: swap;
    src: url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.eot'); /* IE9 Compat Modes */
    src: local('East Sea Dokdo'), local('East Sea Dokdo Regular'),
        url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.woff2') format('woff2'), /* Modern Browsers */
        url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.woff') format('woff'), /* Modern Browsers */
        url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../libraries/fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HanS Calli';
    font-display: swap;
    src: url('../libraries/fonts/HanS_Calli/HanSCalli.eot'); /* IE9 Compat Modes */
    src: local('HanS'), local('HanS Calli'), local('HanS Calli Regular'),
        url('../libraries/fonts/HanS_Calli/HanSCalli.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../libraries/fonts/HanS_Calli/HanSCalli.woff2') format('woff2'), /* Modern Browsers */
        url('../libraries/fonts/HanS_Calli/HanSCalli.woff') format('woff'), /* Modern Browsers */
        url('../libraries/fonts/HanS_Calli/HanSCalli.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../libraries/fonts/HanS_Calli/HanSCalli.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@keyframes slideDown
{
    from
    {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to
    {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}

@keyframes slideUp
{
    from
    {
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    to
    {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    height: auto;
}

.menu-container {
    text-align: right;
    z-index: 2;
}

.hamburger-icon {
    position: fixed;
    right: 0;
    display: inline-block;
    margin-top: 0.8em;
    margin-right: 0.8em;
    background-color: #FFF;
    border-radius: 10%;
    padding: 0.2em;
}

.bar {
  width: 22px;
  height: 2px;
  background-color: #000;
  margin: 4px 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  -moz-ransform: rotate(-45deg) translate(-4px, 4px);
  -ms-transform: rotate(-45deg) translate(-4px, 4px);
  -o-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
  background-color: #000;
}

.change #bar2 {opacity: 0;}

.change #bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -4px);
  -moz-transform: rotate(45deg) translate(-5px, -4px);
  -ms-transform: rotate(45deg) translate(-5px, -4px);
  -o-transform: rotate(45deg) translate(-5px, -4px);
  transform: rotate(45deg) translate(-5px, -4px);
  background-color: #000;
}

#nav-container {
    z-index: 0;
    position: fixed;
    right: 0;
    width: 0px;
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

#nav-container.change {
    width: 100%;
    background-color: #FFF;
}

#logo-container img {
	height: 100px;
	margin: auto;
	margin-top: 2em;
	display: block;
}

nav a {
    display: block;
    color: #000;
    font-family: "Alegreya Sans SC", 'Arial', sans-serif;
    font-size: 17pt;
    font-weight: bold;
    border-bottom: 0.25rem solid transparent;
    text-decoration: none;
    text-align: center;
    margin: 1.9em auto;
}

nav a:hover {
    color: #4f4f4f;
}

.webp #introduction-wrapper {
    background-image: url(../images/home-background.webp);
}
.no-webp #introduction-wrapper {
    background-image: url(../images/home-background.jpg);
}

#introduction-wrapper {
    text-align: center;
    flex: 1 1 auto;
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#introduction {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#introduction div {
    display: inline-block;
    margin: auto;
}

#welcome-message {
    padding-bottom: 1em;
}

#welcome-message div {
    display: block;
    color: #FFF;
}

#main-message {
    font-family: "East Sea Dokdo Regular", "Arial", sans-serif;
    font-size: 25pt;
}

#main-message span {
    font-family: "HanS Calli", "Arial", sans-serif;
}

#description {
    font-family: "Do Hyeon Regular", "Arial", sans-serif;
    font-size: 16pt;
    text-align: center;
    word-spacing: normal;
}

#logo img {
    max-height: 180px;
    padding-left: 0;
}

main {
    min-height: calc(100vh - 30px);
    background-color: #FFF;
}

.icons {
    text-align: center;
    font-size: 20pt;
    background-color: #333;
    padding: 0.6em 0;
}

#space {
    display: inline-block;
    width: 0.1em
}

.icons a {
    color: #FFF;
    text-decoration: none;
}

.icons a:hover {
    color: #A9A9A9;
}

@media (min-width: 350px) {
    #main-message {font-size:30pt}
    #description {font-size:20pt}
    .icons {font-size: 23pt}
}

@media (min-width: 500px) {
    #welcome-message {padding-bottom: 1em}
    #main-message {
        font-size:40pt;
        max-height: 85px;
    }
    #description {word-spacing: 10px}
    #description span {display: none}
    #logo img {max-height: 200px}
    .icons {font-size: 25pt}
}

@media (min-width: 600px) {
    #welcome-message {padding-bottom: 2em}
    #main-message {
        font-size: 45pt;
        max-height: 95px;
    }
    #description {
        font-size: 22pt;
        word-spacing: 15px;
    }
    #logo img {max-height: 220px}
    .icons {font-size: 30pt}
}

@media (min-width: 768px) {
    .menu-container {display: none}
	#nav-container {
		display: block;
        width: 100%;
        height: auto;
        position: absolute;
        margin: 0;
        text-align: right;
        right: 0;
        background-color: transparent !important;
        padding: 0;
        padding-top: 2.5em;
        padding-right: 2em;
        padding-bottom: 1em;
        overflow-x: initial;
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -ms-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
	}
	#logo-container {display: none}
    nav a {
        margin: auto;
        margin-left:15px;
        display: inline;
        color: #FFF;
        font-size: 11pt;
    }
    nav a:hover {
        color: #FFF;
        border-bottom-color: #FFF
    }
    #nav-container.stuck {
        position: fixed;
        -webkit-animation: slideDown 0.35s;
        -moz-animation: slideDown 0.35s;
        -ms-animation: slideDown 0.35s;
        -o-animation: slideDown 0.35s;
        animation: slideDown 0.35s;
        border-bottom: 1px solid #e7e7e7;
        background-color: #FFF !important;
    }
    #nav-container.unstuck {
        -webkit-animation: slideUp 0.3s;
        -moz-animation: slideUp 0.3s;
        -ms-animation: slideUp 0.3s;
        -o-animation: slideUp 0.3s;
        animation: slideUp 0.3s;
        position: fixed;
    }
    .stuck a {color: #000}
    .stuck a:hover {
        color: #A9A9A9;
        border-bottom-color: #A9A9A9
    }
    #introduction {flex-direction: row}
    #main-message {
        font-size: 40pt;
        max-height: 80px;
    }
    #description {
        font-size: 20pt;
        word-spacing: 10px;
    }
    #logo img {
        max-height: 210px;
        padding-left: 15%;
    }
    #space {width: 25px}
}

@media (min-width: 1024px) {
    nav a {
        margin-left: 20px;
        font-size: 15pt;
    }
    #main-message {
        font-size: 55pt;
        max-height: 115px;
    }
    #description {
        font-size: 25pt;
        word-spacing: 15px;
    }
    #logo img {
        max-height: 290px;
        padding-left: 10%;
    }
}

@media (min-width: 1200px) {
    nav a {
        margin-left: 30px;
        font-size: 17pt;
    }
    #main-message {
        font-size: 65pt;
        max-height: 137px;
    }
    #description {font-size: 25pt}
    #logo img {
        max-height: 300px;
        padding-left: 5em;
    }
}

@media (min-width: 1400px) {
    #nav-container {padding-right:3em}
    #main-message {
        font-size: 80pt;
        max-height: 165px;
    }
    #description {
        font-size: 36pt;
        word-spacing: 30px;
    }
    #logo img {
        max-height: 335px;
        padding-left: 5em;
    }
}
